<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/form.css" rel="stylesheet">
    <link href="/js/layer/skin/default/layer.css" rel="stylesheet">
    <script type="text/javascript">document.domain = "rixin.com";</script>
    <script type="text/javascript" src="/js/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-placeholder.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/layer/layer.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/form.js"></script>
    <script type="text/javascript" src="/js/area.js"></script>
</head>
<body>

<div class="c-right" style="height: 100%;">
    <div class="mainCon">
        <div class="section">
            <form class="formBox" action="$path">
                <dl class="cl">
                    <dt>客户名称：</dt>
                    <dd>
                        <input class="mod_input" name="name" value="$!{info.name}" maxlength="30" type="text" data-must="true" data-name="客户名称">
                    </dd>
                    <dt>联系方式：</dt>
                    <dd>
                        <input class="mod_input" name="mobile" value="$!{info.mobile}" maxlength="30" type="text" data-must="true" data-name="联系方式">
                    </dd>
                    <dt>联系地址：</dt>
                    <dd>
                        <input class="mod_input" name="address" value="$!{info.address}" maxlength="30" type="text" data-must="true" data-name="联系地址">
                    </dd>
                </dl>
                <div class="btn_wrap">
                    <a href="#" class="mod_btn btn_submit">提交</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<script>
    $(document).ready(function() {

	});

</script>