
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta content="" name="pgv">
    <title>订单详情</title>
    <link href="/css/edaixi/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/edaixi/base.css" rel="stylesheet" type="text/css">
    <link href="/css/edaixi/myOrder.css" rel="stylesheet" type="text/css" />
    <link href="/css/edaixi/index.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery/jquery-1.8.3.min.js"></script>
</head>
<body style="padding-bottom:80px">
<div class="myOrder_list order-detail-con">
    <ul>
        <!-- 订单信息 start -->
        <li class="order_flow">
            <img src="/imgs/edaixi/taking_e.png">
        </li>
        <li class="order_item ">
            <div class="item_list_box">
                <div class="item_list_title">
                    <img src="/imgs/edaixi/order_info.png">
                    订单信息
                </div>
                <div class="borderD" style="margin-top:4px;margin-left:14px"></div>
            </div>
            <div class="item_list_box item_list_con p5">
                <div class="item_list_box">订单编号：<b class="blackFont">19050415 701960</b></div>

                <div class="item_list_box">
                    <span>取件时间：<font id="qj-time-11570196">2019-05-10 21:00-22:00 </font></span>

                    <p id="modify-11570196" class="modify_time" onClick="modifyTime('11570196','1','1','朝阳区');">
                        <img class="modify_img" src="/imgs/edaixi/edit.png" alt="" />修改
                    </p>
                </div>
                <div class="item_list_box">服务项目：洗衣</div>
                <!-- 是否为第三方预付款单 -->
                <div id="remark-wrap-11570196" class="item_list_box" style="display:none;">
                    备注信息：<font id="remark-11570196"></font>
                </div>
            </div>
            <div class="borderD2"></div>
        </li>
        <!-- 订单信息 end -->

        <!-- 物流信息  start-->
        <li class="order_item ">
            <div class="item_list_box">
                <div class="item_list_title">
                    <img src="/imgs/edaixi/wuliu_info.png">
                    物流信息


                </div>
                <div class="borderD" style="margin-top:4px;margin-left:14px"></div>
            </div>
            <div class="order-logictics" onclick="javascript:location='/mobile.php?m=wap&act=order&do=delivery_details&order_id=11570196&city_id=1&mark=1536891334NP5GfZwd';">
                <span class="high-dottle"></span>
                <a href="/mobile.php?m=wap&act=order&do=delivery_details&order_id=11570196&city_id=1&mark=1536891334NP5GfZwd" >
                    <img src="/imgs/edaixi/arrow-2.png" class="position-img">
                    <div class="con-text" style="padding-top:8px;">

                        <div  class="wuliu-left">
                            <div class="split-position"></div>
                            <em class="color097de7">等待分配小e管家</em>
                            <p class="color097de7 marginT">2019-05-04 09:34</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="borderD2"></div>
        </li>
        <!-- 物流信息  end-->

        <!-- 物品信息 start -->
        <!-- 衣物信息 end -->

        <!-- 支付信息 start -->
        <!-- 支付信息 end -->

        <!-- 增保信息 start -->
        <!-- 增保信息 end -->

        <!-- 地址信息 start -->
        <li class="order_item ">
            <div class="item_list_box">
                <div class="item_list_title">
                    <img src="/imgs/edaixi/address_info.png">
                    地址信息
                </div>
                <div class="borderD" style="margin-top:4px;margin-left:14px"></div>
            </div>
            <div class="item_list_box item_list_con p5">
                <b class="blackFont">戴 </b>
                <span class="pull-right"><b class="blackFont">18610875668</b></span>
                <div>北京朝阳区恒大江湾 1207</div>
            </div>
            <div class="borderD2"></div>
        </li>
        <!-- 地址信息 end -->
    </ul>

    <!-- 取消订单/催单/分享领券/投诉 按钮 start -->
    <div class="white_bg cancel_detail">
        <!-- 取消分享按钮显示 2017-09-01 -->
        <a class="public_order bordergray" onclick="cancelOrder();">取消订单</a>
        <button id="complain_btn" class="public_order order_blue " onclick="complain();">申请售后</button>
        <div class="clearBoth"></div>
    </div>
    <!-- 取消订单/催单/分享领券/投诉 按钮 end -->

    <!-- “取消订单”弹窗 start -->
    <div id="codFloat" style="display:none;padding:1%" class="cod">
        <div class="wx_mask"></div>
        <div class="codCancelOrder">
            <div class="wx_float">
                <div class="wx_confirm_hd white_bg" style="border-radius: 4px">
                    <br/>
                    <div class="wx_confirm_tit">请选择订单取消原因</div>
                    <br/>
                    <a class="cancel-order" href="javascript:void(0);" onclick="doCancel('不需要了');" >不需要了</a>
                    <a class="cancel-order" href="javascript:void(0);" onclick="doCancel('需要更换上门时间');" >需要更换上门时间</a>
                    <a class="cancel-order" href="javascript:void(0);" onclick="doCancel('小e拒绝取件或态度恶劣');" >小e拒绝取件或态度恶劣</a>
                    <a class="cancel-order" href="javascript:void(0);" onclick="doCancel('价格因素');" >价格因素</a>
                    <a class="cancel-order" href="javascript:void(0);" onclick="doCancel('其他原因');" >其他原因</a>

                </div>
                <p class="white_bg cancelBtn"><button type="cancel" onclick="closeCancel();" >不想取消了</button></p>
            </div>
            <input type="hidden" id="orderid" name="orderid" value="11570196">
        </div>
    </div>
    <!-- 取消订单”弹窗 end -->

    <!-- “投诉”弹窗 start -->
    <!--
      <div id="codFloat2" style="display:none;" class="cod">
        <div class="wx_mask" onclick="closeComplain();"></div>
        <div class="wx_float2">
          <div class="wx_confirm_hd white_bg">
            <div class="wx_confirm_tit">投诉
            <p>客服处理投诉时间为08:30-22:00</p>
            </div>
            <div class="borderD"></div>
                <div class="complain-form">
                  <textarea class="textarea" id="complain-textarea" name="appraise_detail" maxlength="200"
                  placeholder = "请问您遇到什么问题？我们的客服会尽快帮您解决" onfocus="this.style.color='#3e3e3e';" style="color: #c1c1c1;"></textarea>
                  <div class="textarea_word"><span id="word" style="color:#1db7fe;">0</span>/200</div>
                </div>
                <button class="link-btn-all" id="complain_submit" style="width:60%;opacity:0.6" disabled="disabled">确认</button>
          </div>
        </div>
      </div>-->
    <!-- “投诉”弹窗 end -->

    <!-- 投诉处理中 弹窗 start -->
    <div id="complain_success" class="order_success" style="display:none;width:70%;">
        <em><span></span></em>
        <span id="success_tip" style="padding-left:10px">受理中</span>
        <p class="complain_text p10">售后会在1个工作日内联系您，请您保持手机畅通</p>
    </div>
    <!-- 投诉处理中 弹窗 end -->

    <!-- 操作提示 start -->
    <div id="tip-box" style="display:none" class="cod" style="height:60px">

        <div class="wx_confirm ">
            <div class="wx_confirm_inner" id="wx_confirm_float">
                <div class="wx_confirm_hd">
                    <div class="wx_confirm_tit" id = "show_mes"><!-- 提示信息 --></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 操作提示 end -->

    <!-- 分享引导蒙板 start -->
    <div id="share_layer" style="display:none;background:#000;opacity:0.8;z-index:111;position:fixed;top:0;width:100%;height:100%;" onclick="javascript:$(this).hide();">
        <img src="/imgs/edaixi/share_img2.png" style="position:absolute;top:0;z-index:111111;width:80%;left:10%;" >
    </div>
    <!-- 分享引导蒙板 end -->

    <!-- wx_JS控件 start -->
    <script type="text/javascript">

        var  is_weixin = ;

        function sendShareDate(is_fail)
        {
            $.post(
                    "",
                    {
                        fud : "",
                        fad : "",
                        ud : "",
                        ad : "",
                        depth : "",
                        is_fail : is_fail,
                        active_type : "",
                        host : "wx.rongchain.com"
                    },
                    function(){},
                    "json"
            );
        }
        if(is_weixin){
            wx.ready(function(){
                var share_url =  "";
                var share_img_url = "";
                var title = "";
                var data_des = "";
                wx.onMenuShareAppMessage({
                    title: title,
                    desc: data_des,
                    link:  share_url,
                    imgUrl: share_img_url,
                    trigger: function (res) {
                    },
                    success: function (res) {
                        sendShareDate(0);
                    },
                    cancel: function (res) {
                        sendShareDate(1);
                    },
                    fail: function (res) {
                        sendShareDate(2);
                    }
                });
                wx.onMenuShareTimeline({
                    title: title,
                    link: share_url,
                    imgUrl: share_img_url,
                    trigger: function (res) {
                    },
                    success: function (res) {
                        sendShareDate(0);
                    },
                    cancel: function (res) {
                        sendShareDate(1);
                    },
                    fail: function (res) {
                        sendShareDate(2);
                    }
                });
            });
        }
    </script><!-- wx_JS控件 end -->

    <!-- 取消支付  start-->
    <div id="cod-cancel-pay" style="display:none">
        <div class="wx_mask"></div>
        <div class="wx_confirm ">
            <div class="wx_confirm_inner padding-top width100" id="wx_confirm_coupon">
                <div class="wx_confirm_hd">
                    <div class="wx_confirm_tit blue-color">取消支付</div>
                    <div class="cot_content">取消支付后将重新选择支付方式</div>
                    <div class="floatBorder floatbox ">
                        <a id="exchange" class="single_input2" href="javascript:void(0);">不取消了</a>
                        <a id="cancel-pay-true" class="cancel single_input2 ">确认取消</a>
                    </div>
                    <div class="clearBoth"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 取消支付 弹窗 end-->

    <!-- 衣物实付款tip  start-->
    <!-- 衣物实付款tip 弹窗 end-->

    <!-- 合单支付提示  start-->
    <div id="cod-pay-warn" style="display:none">
        <div class="wx_mask"></div>
        <div class="wx_confirm ">
            <div class="wx_confirm_inner padding-top">
                <div class="wx_confirm_hd">
                    <!--
                    <div class="wx_confirm_tit blue-color"></div>
                    -->
                    <div class="cot_content" id="pay-content"></div>
                    <div class="floatBorder floatbox ">
                        <a id="confirm-pay-false" class="single_input2" href="javascript:void(0);">取消</a>
                        <a id="confirm-pay-true" class="cancel single_input2 ">确认</a>
                    </div>
                    <div class="clearBoth"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 合单支付提示 弹窗 end-->

    <script type="text/javascript">
        var order_id = "11570196";		// 订单ID
        var $clothesTable = $('#clothes-table');

        ## // 查看瑕疵文字描述
        ##     $clothesTable.on('click', '.view-blemish-desc', function(){
        ##     $(this).html($(this).attr('text')).removeClass('color097de7').css({'color':'#3e3e3e','text-align':'left'});
        ## });
        ##
        ## // 查看瑕疵图片相册
        ##     $clothesTable.on('click', '.view-blemish-photo', function(){
        ## var blemish_photo_url = $(this).data('link');
        ## if(blemish_photo_url){
        ## window.location.href = blemish_photo_url;
        ## }
        ## });
        ##
        ## // 展开/收起更多衣物
        ##     $clothesTable.on('click', '.toggle-more-clothes', function(){
        ##     $('.more_clothes, #toggle_up, #toggle_down').toggle();
        ## });

        // 监听输入 -- 投诉内容
        $("#complain-textarea").on('keydown change keyup', function(){
            var len = $(this).val().length;
            if(len > 200){
                $(this).val($(this).val().substring(0,200));
            }
            $("#word").text(len);
            if(len > 0 && len <= 200){
                $('#complain_submit').prop('disabled', false).css({'opacity':'1'});
            }else{
                $('#complain_submit').prop('disabled', true).css({'opacity':'0.6'});
            }
        });

        // 获取/提交投诉
        $('#complain_submit').on('click', function(){
            setComplain();
        });

        //显示衣物付款提示
        $("#tip-cloth").click(function(){
            $("#cod-cloth-tip").show();
        });

        //隐藏衣物付款提示
        $("#cloth-tip-close").click(function(){
            $("#cod-cloth-tip").hide();
        });

        // 修改订单取件时间
        function modifyTime(orderid, category_id, city_id, area){
            window.location.href = "/new_weixin/time_control.html?order="+orderid+"&category_id="+category_id+"&city_id="+city_id+"&area="+area+"&back="+"%2Fmobile.php%3Fm%3Dwap%26act%3Dorder%26do%3Dorder_details%26order_id%3D11570196%26city_id%3D1%26mark%3D1536891334NP5GfZwd";
            return false;
        }

        // 打开“取消订单”弹窗
        function cancelOrder(){
            $(".wx_float").animate({bottom:"10"}, 400);
            $("#codFloat").slideDown();
        }

        // 关闭“取消订单”操作窗
        function closeCancel(){
            $("#codFloat").hide();
            $(".cancel-order").css("pointer-events", "auto");
            return false;
        }

        // 提交“取消订单”
        function doCancel(reason){
            $('.cancel-order').css({"pointer-events":"none"});
            var cancel_url = "/mobile.php?m=wap&act=order&do=cancel_order&city_id=1&mark=1536891334NP5GfZwd";
            var submit_data = {reason : reason, order_id : order_id};
            $.post(cancel_url, submit_data, function(data){
                closeCancel();
                var jump_url = "/mobile.php?m=wap&act=order&do=order_list&city_id=1&mark=1536891334NP5GfZwd";
                showTip(data.message.msg, jump_url);
            },"json");
        }

        // 更新投诉状态 && 打开“投诉”确认窗
        function complain(){
            $('#complain_btn').prop('disabled', true);
            var url = "/mobile.php?m=wap&act=order&do=get_order_complain&city_id=1&mark=1536891334NP5GfZwd";
            var reload_url = "/mobile.php?m=wap&act=order&do=order_details&order_id=11570196&city_id=1&mark=1536891334NP5GfZwd";
            var submit_data = {order_id : order_id};
            $.post(url, submit_data, function(data){
                if(data.message.state == 1){
                    if(data.message.complain_status == 1){	//可以投诉
                        if('售后详情' == $('#complain_btn').text()){
                            showTip("您的售后已受理", reload_url);
                            return;
                        }else{
                            //此处应该跳转到投诉细类
                            window.location.href="/mobile.php?m=wap&act=order&do=enter_complain&order_id=11570196&robot=0&city_id=1&mark=1536891334NP5GfZwd";
                        }
                    }else if(data.message.complain_status == -1){	//投诉超时
                        showTip("您的订单已超出售后时限", reload_url);
                        return;
                    }else if(data.message.complain_status == 0){	//正在处理
                        $('#complain_success').show().delay(2000).hide(0, function(){
                            $('#complain_btn').prop('disabled', false);
                        });
                        $('#complain_btn').text('售后详情');
                    }
                }else{
                    showTip(data.message.msg, data.message.url);
                }
            },"json");
        }

        // 显示提示信息
        function showTip(msg, url, persistent){
            $('#show_mes').html(msg);
            if(url){
                $('#tip-box').show().delay(2000).hide(function(){
                    window.location.href = url;
                });
            }else{
                if (persistent) {
                    $('#tip-box').show()
                } else {
                    $('#tip-box').show().delay(2000).hide(0);
                }
            }
        }

        // 分享引导
        function shareGuide(){
            $('#share_layer').show();
        }

        $("#list-img").click(function() {
            $(".money-detial").toggle();
            ;
        });

        //点击取消支付事件
        $("#cancel-pay").click(function(){
            $('#cod-cancel-pay').show();
        });
        //不取消了
        $('#exchange').click(function () {
            $('#cod-cancel-pay').hide();
        });
        //确认取消支付事件
        $('#cancel-pay-true').click(function () {
            //隐藏弹框
            $('#cod-cancel-pay').hide();
            //订单取消支付
            var url = "/mobile.php?m=wap&act=payment&do=cancel_pay&city_id=1&mark=1536891334NP5GfZwd";
            var order_id = 11570196;
            var order_data = {order_id : order_id};
            cancel_pay(url, order_data);
        });

        //点击支付提示合单文案
        $("#pay-order").click(function(){
            var warn_msg = "";
            var warn = false;
            if (warn && warn_msg) {
                //合单弹框提示
                $("#pay-content").html(warn_msg);
                $("#cod-pay-warn").show();
                return false;
            }
            return true;
        });

        //提示框点击取消去支付
        $("#confirm-pay-false").click(function(){
            $("#cod-pay-warn").hide();
        });

        //提示框点击确定去支付
        $("#confirm-pay-true").click(function(){
            var url = $("#pay-order").attr("href");
            window.location.href = url;
            $("#cod-pay-warn").hide();
        });

        //订单取消支付
        function cancel_pay(url, send_data) {
            //显示取消支付中
            showTip('取消支付中...', null, true);
            //ajax订单取消支付发起状态
            ajax_cancel_pay_status = 1;
            cancel_pay_time_count = setTimeout(function(){
                if (ajax_cancel_pay_status == 1) {
                    cancel_pay_ajax.abort();
                    //ajax订单取消支付返回状态
                    ajax_cancel_pay_status = 2;
                    showTip('出错啦，请稍后再试！');
                }
            }, 8000);
            cancel_pay_ajax = $.ajax({
                type : "POST",
                async:true,
                url : url,
                data: send_data,
                dataType : "json",
                timeout: 5000,
                success : function(ret){
                    clearTimeout(cancel_pay_time_count);
                    ajax_cancel_pay_status = 2;
                    if (ret.status) {
                        showTip('取消支付成功');
                        setTimeout("location.reload()", 2000);
                    } else {
                        if (ret.msg) {
                            showTip(ret.msg);
                        } else {
                            showTip('取消支付失败啦');
                        }
                    }
                },
                error:function(XMLHttpRequest, textStatus, errorThrown){
                    clearTimeout(cancel_pay_time_count);
                    ajax_cancel_pay_status = 2;
                    if (textStatus == 'timeout') {
                        showTip('网络超时, 请稍后再试!');
                    } else {
                        showTip('出错了，请稍后再试！');
                    }
                }
            });

        }

    </script>

</body>
</html>