@charset "UTF-8";
.borderDD {
    border-top: 1px solid #ddd;
}
.borderT {
    border-top: 1px solid #ddd;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}
.color-ff7c3c {
    color: #ff7c3c;
}
#time_controler {
    background: #f7feff;

}
.time_title {
    padding: 0.6rem 1rem;
    font-size: 1rem;
}
.time_cancel {
    color: #787878;
}
.time_finish {
    float: right;
    color: #00dbf5;
}
.time_date {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -o-box;
    display: box;
    background: #f7feff;
    overflow: auto;
    margin: .2rem 0 0rem .4rem;
    padding: .34rem 0 1rem 0;
}
.time_date li.detail_date {
    width: 22%;
    text-align: center;
    padding: .5rem 0;
    /*height: .8rem;*/
    font-size: 14px;
    color: #3e3e3e;
    position: relative;
    list-style: none;
    border: 1px solid #f7feff;
    font-size: .9rem;
}
.anytime_kequ {
    background: #fff;
    margin: 3% 3% 0 3%;
    color: #787878;
    font-size: 14px;
    border-radius: 8px;
    padding: 8px;
    height: 21px;
    line-height: 21px;
    border: 1px solid #fff;
}

.time_hour {
    margin: 1rem auto 1rem .5rem;
    width: 96%;
    background: #fff;
    float: left;


}

.tab-current::before {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
.time_hour .detail_hour {

    background: #fff;
    text-align: center;
    width: 33.3%;
    margin: 0 auto;
    height: 4.7rem;
    float: left;
    /*position: relative;*/
    z-index: 12;
    display: inline-block;

    box-sizing: border-box;
    border-collapse: collapse;

    /*box-shadow: 0 0 0 1px #dcdcdc;*/

    color: #3e3e3e;


}
.time_hour .detail_hour div.service_times_div {
    display: table-cell;
    height: 4.6rem;
    vertical-align: middle;
    text-align: center;
    width: 33.3%;
    font-size: .9rem;
    box-shadow: 0 0 0 1px #dcdcdc;
}



/**/
.time_date li.detail_date .trigger-ico {
    display: none;
}
.time_date li.detail_date.tab-current .trigger-ico,.time_date li.detail_date.selected .trigger-ico{
    display: block;
}
.time_date li.detail_date.tab-current,.time_date li.detail_date.selected {
    border: 1px solid #00dbf5;
    background: #fff;
    border-radius: 6px;
    position: relative;
    color: #00dbf5;
}
.trigger-ico {
    position: absolute;
    bottom: -7px;
    left: 40%;

}
.trigger-ico img {
    display: block;
}
.time_hour .detail_hour.tab-current  {
    border: 1px solid #00dbf5;
}
.current-bor {
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    border: 1px solid #00dbf5;
    /*height: 98%;*/
    right: 0;
    float: left;
    z-index: 111;
}
.order-btn {
    margin: 0 auto;
    background: #00dbf5;
    text-align: center;
    color: #fff;
    line-height: 3.6rem;
    display: block;
    width: 94%;
    height: 3.6rem;
    border-radius: 4px;
    font-size: 1.2rem;
    border: 0;

}
.order-btn a {
    display: block;
    color: #fff;
}
.time_hour .detail_hour.select_hour .borderCu,.time_hour .detail_hour.selected .borderCu{
    display: block;

}
.borderCu {
    /*border: 1px solid #00dbf5;*/
    box-shadow: 0 0 0 1px #00dbf5;
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 111;
    display: none;
    bottom: 0;
    height: 100%;
    width: 100%;
    left: 0px;
}
.time_hour .detail_hour.select_hour .service_times_div,.time_hour .detail_hour.selected .service_times_div {
    /*box-shadow: 0 0 0 1px #00dbf5;*/
    position: relative;
    color: #00dbf5;
}
.baodan {
    background: #f6f6f6 !important;
    color: #9f9f9f !important;
}
.quota_info {
    color: #8a8a8a;
    margin: 0  0 .5rem .5rem;
    font-size: .9rem;
}
#quota_info {
    margin-bottom: 1rem;
}
.fix-bottom {
    background: #fff;
    position: fixed;
    bottom: 0;
    padding: 1rem 0;
    left: 0;
    right: 0;
}

.wx_mask{background-color:rgba(0,0,0,.7);position:fixed;width:100%;height:100%;top:0;left:0;z-index:2222222;-webkit-animation:an_wx_mask .25s ease-in}
.wx_confirm_inner {
    /*background-color: #fff;*/
    text-align: left;
    margin: auto;
    color: #3e3e3e;
    font-size: 1.1rem;
    padding: 8% 6%;
}
.manage-btn {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -o-box;
    display: box;
    position: relative;

}
.wx_confirm {
    background: #fff;
    -webkit-animation: an_wx_confirm .25s ease-in;
    width: 72%;
    border-radius: 4px;
    overflow: hidden;
}
.wx_confirm img {
    width: 100%;
    display: block;
}

.manage-btn button {
    -webkit-box-flex:1;
    -moz-box-flex:1;
    box-flex:1;
    background: 0;
    text-align: center;
    color: #00dbf5;
    border: 0;
    width: 50%;
    font-size: 1.2rem;
    padding: 5% 0;
    display: block;
}

#time_range {
    width: 100%;
    display: inline-block;
}
.cod2 {
    position: fixed;
    top: 40%;
    color: #fff;
    padding: 1rem;
    background: rgba(0,0,0,.8);
    width: 60%;
    margin: 0 auto;
    left: 0;
    right: 0;
    border: 0;
    text-align: center;
    border-radius: 6px;
}
#express_tips{
    font-size: 12px;
    color: #00dbf5;
    text-align: center;
    margin-top: 8px;
    margin-bottom: -8px;
}
#express_tips b{
    width: 18px;
    height: 13px;
    background: url('/imgs/edaixi/express-logo.png') no-repeat;
    background-size: cover;
    margin-right: 3px;
    display: inline-block;
    vertical-align: -2px;
}