
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta content="" name="pgv">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/edaixi/card.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/edaixi/complaint.css" media="all">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/framework/style/js/jquery-1.11.1.min.js">\x3C/script>')</script>
    <title>申请售后</title>
</head>
<body>
<section>
    <div class="cardexplain m10 no-bg">
        <ul class="operate navlist">
            <h3 class="titleText">选择您要投诉的问题</h3>

            <li class="title-list">
                <div>
                    <a class="category-btn" href="javascript:void(0);" onclick="do_complain(1,2,0,0,'订单时间被修改')">订单时间被修改
                    </a>
                </div>
            </li>
            <div style="height:10px;background:#f0f0f0"></div>

            <li class="title-list">
                <div>
                    <a class="category-btn" href="javascript:void(0);" onclick="do_complain(2,4,0,0,'未安排取件人员')">未安排取件人员
                    </a>
                </div>
            </li>
            <div style="height:10px;background:#f0f0f0"></div>

            <li class="title-list">
                <div>
                    <a class="category-btn" href="javascript:void(0);" onclick="do_complain(3,9,0,0,'未有取件人员联系我')">未有取件人员联系我
                    </a>
                </div>
            </li>
            <div style="height:10px;background:#f0f0f0"></div>

            <li class="title-list">
                <div>
                    <a class="category-btn" href="javascript:void(0);" onclick="do_complain(4,5,0,0,'取件小e态度恶劣')">取件小e态度恶劣
                    </a>
                </div>
            </li>
            <div style="height:10px;background:#f0f0f0"></div>

            <li class="title-list">
                <div>
                    <a class="category-btn" href="javascript:void(0);" onclick="do_complain(5,6,0,0,'取件小e联系不上')">取件小e联系不上
                    </a>
                </div>
            </li>
            <div style="height:10px;background:#f0f0f0"></div>

            <li class="title-list">
                <div>
                    <a class="category-btn" href="javascript:void(0);" onclick="do_complain(6,8,0,0,'取件小e拒绝上门取件')">取件小e拒绝上门取件
                    </a>
                </div>
            </li>
            <div style="height:10px;background:#f0f0f0"></div>

            <li class="title-list">
                <div>
                    <a class="category-btn" href="javascript:void(0);" onclick="do_complain(7,7,0,0,'取件小e更换频繁')">取件小e更换频繁
                    </a>
                </div>
            </li>
            <div style="height:10px;background:#f0f0f0"></div>

            <li class="title-list">
                <div>
                    <a class="category-btn" href="javascript:void(0);" onclick="do_complain(8,40,0,0,'软件使用问题')">软件使用问题
                    </a>
                </div>
            </li>
            <div style="height:10px;background:#f0f0f0"></div>

            <li class="title-list">
                <div>
                    <a class="category-btn" href="javascript:void(0);" onclick="do_complain(9,41,1,0,'其他')">其他<em class="flag_icon"></em>
                    </a>
                </div>
            </li>
            <div style="height:10px;background:#f0f0f0"></div>

        </ul>
    </div>
    <div id="confirm_tip" style="display:none" class="cod">
        <div class="wx_mask"></div>
        <div class="wx_confirm2">
            <div class="wx_confirm_inner">
                <div class="warm-tip">
                    <p>您的申请售后内容为：</p>
                    <p id="complain-msg" class="title-msg"></p>
                </div>

                <div class="borderD"></div>
                <input type = "hidden" id ="delete_id">

                <div class="logout-btn">
                    <div class="borderL"></div>
                    <button type="button" id="confirm-false" class="btn-cancel">取消</button>
                    <button type="button" id="confirm-true" class="btn-ok">确定</button>
                </div>

            </div>
        </div>
    </div>
    <div id="tip-box" class="order_success" style="display:none;width:80%;">
        <span id="show_mes" style="padding-left:10px"></span>
    </div>
</section>

<script type="text/javascript">

    var path = "";
    var catid = "";
    var robot = 0;

    function do_complain(key, id, child, img, msg){
        if(path != ''){
            var newpath = path + "," + key;
        }else{
            var newpath = key;
        }
        if(catid != ''){
            var newcatid = catid + "," + id;
        }else{
            var newcatid = id;
        }
        if(child == 1){
            var url = "/mobile.php?m=wap&act=order&do=enter_complain&order_id=11571490&robot=0&city_id=1&mark=1519871065gzkMCqd0"+"&path="+newpath+"&cat_id="+newcatid;
            window.location.href=url;
        }else if(child == 0){
            if(img == 0){
                $("#complain-msg").text(msg);
                $("#confirm_tip").show();
                $("#confirm-false").on('click',function(){
                    $("#confirm_tip").hide();
                });
                $("#confirm-true").on('click',function(){
                    $(this).prop('disabled', true).css({'opacity':'0.6'});
                    $.ajax({
                        type:"get",
                        url:"/mobile.php?m=wap&act=order&do=submit_complain&order_id=11571490&robot=0&city_id=1&mark=1519871065gzkMCqd0"+"&path="+newpath+"&cat_id="+newcatid,
                        dataType: "json",
                        success:function(data){
                            var ret = data.message;
                            if(ret.state == 1){
                                if(robot){
                                    window.location.href=ret.url+"&robot=1";
                                }else{
                                    window.location.href=ret.url;
                                }
                            }else{
                                $("#confirm_tip").hide();
                                showTip(ret.msg,ret.url);

                            }
                        }
                    });
                });
            }else if(img == 1){
                //跳转到上传图片页面
                var url = "/mobile.php?m=wap&act=order&do=upload_complain&order_id=11571490&robot=0&city_id=1&mark=1519871065gzkMCqd0"+"&cat_id="+newcatid+"&question="+msg;
                window.location.href=url;
                $('body').height($(window).height() - 10);
            }
        }
    }

    //输入框提交按钮变化
    $(".sure-btn").prop('disabled', true).css({'opacity':'0.6'});
    $("#complain-else").on('keydown keyup', function(){
        var len = $(this).val().length;
        if(len > 200){
            $(this).val($(this).val().substring(0,200));
        }
        $("#word").text(len);

        var content = $("#complain-else").val();
        if(content == ''){
            $(".sure-btn").prop('disabled', true).css({'opacity':'0.6'});
        }else{
            $(".sure-btn").prop('disabled', false).css({'opacity':'1'});
        }
    });

    //输入框提交
    $("#complain-form").submit(function(){
        var url = "/mobile.php?m=wap&act=order&do=submit_complain&order_id=11571490&city_id=1&mark=1519871065gzkMCqd0"+"&cat_id="+"";
        $.ajax({
            type:"post",
            url:url,
            data:$("#complain-form").serialize(),
            dataType:"json",
            success:function(ret){
                if(ret.message.state == 1){
                    if(robot){
                        showTip('售后会在1个工作日内联系您，请您保持手机畅通');
                        wx.closeWindow();
                    }else{
                        var uri = "/mobile.php?m=wap&act=order&do=order_details&order_id=11571490&city_id=1&mark=1519871065gzkMCqd0";
                        showTip('售后会在1个工作日内联系您，请您保持手机畅通',uri);
                    }
                }else{
                    showTip(ret.message.msg,ret.message.url);
                }
            }
        });
        return false;
    });


    // 显示提示信息
    function showTip(msg, url){
        $('#show_mes').html(msg);
        if(url){
            $('#tip-box').show().delay(2000).hide(function(){
                window.location.href = url;
            });
        }else{
            $('#tip-box').show().delay(2000).hide(0);
        }
    }

</script>
<!--手机百度分享图标自定义、搜狗js动态引入-->
<script type="text/javascript">
    var userAgent = navigator.userAgent;
    if(userAgent.indexOf("baiduboxapp") != -1){
        customshare();
    }
    //手机百度分享图标自定义
    // function customshare(){
    //     window.BoxShareData = {
    //         successcallback: "onSuccess",
    //         errorcallback: "onFail",
    //         options: {
    //             type: "url",
    //             content: "洗衣就用日新洗衣，幸福生活每一天",
    //             iconUrl: "http://apps3.bdimg.com/store/static/kvt/afdedad50e7414a224f7e530698f4d02.png",
    //             imageUrl: "http://apps3.bdimg.com/store/static/kvt/afdedad50e7414a224f7e530698f4d02.png",
    //             linkUrl: location.href,
    //             mediaType: "all",
    //             title: "e袋洗"
    //         }
    //     }
    // }
    //获取URL参数方法
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }
    //搜狗js动态引入
    if(getQueryString("mark")=="ae891810-4aef-11e5-ade6-f80f41fd4734") {
        document.write("<script sogouid=\"054\" src=\"http://fuwu.wap.sogou.com/static/partner.js\"><\/script>");
    }
</script>

<!--百度统计-->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?c69820aa19563b0688a6d8ea8d21f158";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

</body>
</html>