
<!DOCTYPE html>
<html><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta content="" name="pgv">
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="/css/edaixi/card.css" media="all">
    <link href="/css/edaixi/footer.css" rel="stylesheet" type="text/css">
##    <script src="https://jic.talkingdata.com/app/h5/v1?appid=642B7ECDFB9C4E3B7A3F3EF9B9014BF2&vn=1.0&vc=4.0.1"></script>
</head>

<script src="/js/jquery/jquery-1.8.3.min.js"></script>

<body id="card" ondragstart="return false;" onselectstart="return false;" class="white_bg" style="padding-bottom:54px;">
<div class="card" id="icard">
    <img src="/imgs/edaixi/center_banner.png" class="card-bg-card" />
    <img src="$!{userInfo.headimgurl}" class="edaixi_logo" />
    <div class="loginInfo">
        <p>$!{userInfo.nickname}</p>
#*        <a href = "/sysUserBalance" class="link-chongzhi" style="width: 40%;padding:5px 0;">
            充值<span class="go-card"></span>
        </a>*#
        <p>日新洗衣</p>
    </div>
</div>
<nav class="main-nav white-bg">
    <div>
        <div class="wallet">
            <p><img alt=" " src="/imgs/edaixi/My wallet.png"></p>
            <p class="wallet-word">我的钱包</p>
            <img alt="" src="/imgs/edaixi/rignt_icon.png" class="wallet-arrow">
##            <a href="/new_weixin/view/invoice_order_list.html" class="invoice">发票</a>
        </div>
        <div class="borderD"></div>
        <div class="wallet-types">
            <div class="types">
                <a href = "/sysUserCoupon">
                    <p>
                        <span>0张</span>
                    </p>
                    <p>优惠券</p>
                </a>
            </div>
            <div class="types">
                <a href = "/sysUserBalance">
                    <p>
                        <span>￥0.00</span>
                    </p>
                    <p>余额</p>
                </a>
            </div>
#*            <div class="types">
                <a href="/mobile.php?m=wap&act=icard&do=my_points&city_id=1&mark=66d5e0da-65b8-11e5-a990-5cb901892a54">
                    <p>
                        <small>点击查看</small>
                    </p>
                    <p>积分</p>
                </a>
            </div>*#
        </div>
    </div>
</nav>

<div class="clear"></div>
<div class="borderD2"></div>
<div style="height:14px"></div>
<div class="cardexplain">
    <ul class="round operate navlist">
        <li class="mobile-font">
            <table class="icardTable">

                <tr>
                    <td style="border:0;width:42px;">
                        <img alt="" src="/imgs/edaixi/Common _address.png">
                    </td>
                    <td>
                        <a href = "/sysUserAddress">
                            <div class = "list-titel no-img">
                                常用地址
                                <img alt="" src="/imgs/edaixi/rignt_icon.png" class="icon-right-card">
                            </div>
                        </a>
                        <div class="borderD"></div>
                    </td>
                </tr>

                <tr>
                    <td style="border:0;width:42px;">
                        <img alt="" src="/imgs/edaixi/Integral mall.png">
                    </td>
                    <td style="position:relative">
                        <a href = "/sysOrderInfo">
                            <div class = "list-titel no-img">
                                我的订单
                                <img alt="" src="/imgs/edaixi/rignt_icon.png" class="icon-right-card">
                            </div>
                        </a>
                        </a>
                        <div class="borderD" style=" margin-bottom: -4px;"></div>
                    </td>
                </tr>

##                <tr>
##                    <td style="border:0;width:42px;">
##                        <img alt="" src="/imgs/edaixi//job.png">
##                    </td>
##                    <td style="position:relative">
##                        <a href = "https://mp.weixin.qq.com/s/OLxsMGbsclYUV48-q7Vsbw">
##                            <div class = "list-titel no-img">
##                                取送小e招募
##                                <img alt="" src="/imgs/edaixi/rignt_icon.png" class="icon-right-card">
##                            </div>
##                        </a>
##                        <div class="borderD" style=" margin-bottom: -4px;"></div>
##                    </td>
##                </tr>
            </table>

        </li>
        <div class="borderD2"></div>
    </ul>
</div>

<div class="cardexplain">
    <ul class="round operate navlist" style="border-radius:0 0 10px 10px;border-top:0">
        <li class="mobile-font">
            <table class="icardTable">
                <tr>
                    <td style="border:0;width:42px;">
                        <img alt=" " src="/imgs/edaixi/feedback.png">
                    </td>
                    <td>
                        <div id="feedback" data-href="/feedBack" class="list-titel no-img">
                            意见反馈
                            <img alt="" src="/imgs/edaixi/rignt_icon.png" class="icon-right-card">
                        </div>
                        <div class="borderD"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img alt="" src="/imgs/edaixi/More.png" >
                    </td>
                    <td>
                        <a href = "/html/more.html">
                            <div class = "list-titel no-img">
                                更多
                                <img alt="" src="/imgs/edaixi/rignt_icon.png" class="icon-right-card">
                            </div>
                        </a>
                    </td>
                </tr>
            </table>
            <div class="borderD2"></div>
        </li>
        <div style="height:14px;background:#f0f0f0"></div>
        <li class="tel-text">
            <div><a href="tel:400-818-7171">客服 0527-12345678</a></div>
        </li>
    </ul>
    <div class="borderD2"></div>
</div>

<script type='text/javascript'>
    window.onerror = function() {
        return true;
    }
    // 记录意见反馈返回路径
    $('#feedback').on('click', function(){
        sessionStorage.setItem('feedbook_from', window.location.href);
        window.location.href = $(this).data('href');
    });

    // 我的彩票点击并统计
    /*
    $('#my-lottery').on('click', function(){
      TDAPP.onEvent("零彩宝我的彩票");
      window.location.href = "";
    });*/

    function webank_enter(){
        window.location.href = '/mobile.php?m=wap&act=icard&do=my_edaifu';
    }

</script>

<!-- 页脚导航-->
##<footer id="footer">
##    <div class="borderD3"></div>
##    <div class="fix-bottom"></div>
##    <div class="bottomBox">
##        <div class="indexMsg">
##            <div class="indexMenu">
##                <a href="/mobile.php?m=wap&act=homepage&do=index&city_id=1&mark=66d5e0da-65b8-11e5-a990-5cb901892a54"><span class=" home-index">首页</span></a>
##                <a href="/mobile.php?m=wap&act=order&do=order_list&city_id=1&mark=66d5e0da-65b8-11e5-a990-5cb901892a54"><span class=" Order-index">订单<!-- <em class="hongdian"></em> --></span></a>
##                <a href="/mobile.php?m=wap&act=icard&do=my_icard&city_id=1&mark=66d5e0da-65b8-11e5-a990-5cb901892a54"><span class="card-index-active">我的<!-- <em class="hongdian"></em> --></span></a>
##            </div>
##        </div>
##    </div>
##</footer>

<!--手机百度分享图标自定义、搜狗js动态引入-->
<script type="text/javascript">
    var userAgent = navigator.userAgent;
    if(userAgent.indexOf("baiduboxapp") != -1){
        customshare();
    }
    //手机百度分享图标自定义
    function customshare(){
        window.BoxShareData = {
            successcallback: "onSuccess",
            errorcallback: "onFail",
            options: {
                type: "url",
                content: "洗衣就用日新洗衣，幸福生活每一天",
                iconUrl: "http://apps3.bdimg.com/store/static/kvt/afdedad50e7414a224f7e530698f4d02.png",
                imageUrl: "http://apps3.bdimg.com/store/static/kvt/afdedad50e7414a224f7e530698f4d02.png",
                linkUrl: location.href,
                mediaType: "all",
                title: "日新洗衣"
            }
        }
    }
    //获取URL参数方法
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }
    //搜狗js动态引入
    if(getQueryString("mark")=="ae891810-4aef-11e5-ade6-f80f41fd4734") {
        document.write("<script sogouid=\"054\" src=\"http://fuwu.wap.sogou.com/static/partner.js\"><\/script>");
    }
</script>

<!--百度统计-->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?c69820aa19563b0688a6d8ea8d21f158";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

</body>
</html>
