
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta content="" name="pgv">
    <title>我的优惠券</title>
    <link href="/css/edaixi/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/edaixi/base.css" rel="stylesheet" type="text/css">
    <link href="/css/edaixi/wap.css" rel="stylesheet" type="text/css">
    <link href="/css/edaixi/card.css" rel="stylesheet" type="text/css" media="all">
    <script src="/js/jquery/jquery-1.8.3.min.js"></script>
</head>

<body style="padding-bottom:68px;">
<div id="second" style="margin-top:0px;">
    <div class="headerPlace header-address" style="margin-bottom:0px">
        <div class="choose-time">
            <span class="">我的优惠券</span>
            <span class="pull-right">
##            <a href="http://www.edaixi.com/pages/coupon_des" style="padding:2px 6px"> 使用说明</a>
        </span>
        </div>
    </div>
    <div class="borderD"></div>

##    <div class="coupon-btn-long">
##        <div id="coupon-btn-style" class="coupon-btn-style">
##            <div class="borderD2"></div>
##            <img src="/imgs/edaixi/icon_add.png">
##            <span>兑换优惠券</span>
##            <div class="borderD2"></div>
##        </div>
##    </div>

    <div class="cardexplain white_bg" style="margin:0;display:none" id="cardExplain">
        <div class="cod">
            <div class="wx_mask"></div>
            <div class="wx_confirm ">
                <div class="wx_confirm_inner" id="wx_confirm_coupon">
                    <div class="wx_confirm_hd" style="margin-bottom:0;padding-top:10px">
                        <div class="wx_confirm_tit" id="ump_color_gray">兑换优惠券</div>
                        <form action="javascript:;" method="POST">
                            <div class="inputbox">
                                <input id="coupon_sn" name="bind_sn_coupon" type="text" placeholder="输入优惠码" class="bind_sn_coupon #coupon_sn" />
                            </div>
                            <div id="coupon-tip" class="coupon-tip">
                                <!-- 兑换提示 -->
                            </div>
                            <div class="floatBorder floatbox">
                                <a id="cancel" class="cancel single_input2">取消</a>
                                <a id="exchange" class="single_input2" href="javascript:void(0);">兑换</a>
                            </div>
                        </form>
                        <div class="clearBoth"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="border-top:1px solid #eee;"></div>
<div id="coupon_list">
    <div class="empty_Coupons cardexplain no-coupon">
        <img src="/imgs/edaixi/no_coupon.png">
        <p>无可用优惠券</p>
    </div>
</div>
<div class="back-home">
    <a href="/washing">
        <img src="/imgs/edaixi/btn_home.png">
    </a>
</div>
<!-- 操作提示 start -->
<div id="tip-box" style="display:none" class="cod" style="height:60px">
    <!-- <div class="wx_mask"></div> -->
    <div class="wx_confirm ">
        <div class="wx_confirm_inner" id="wx_confirm_float">
            <div class="wx_confirm_hd">
                <div class="wx_confirm_tit" id="show_mes">
                    <!-- 提示信息 -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 操作提示 end -->
<script type="text/javascript">
    var flag = 1;
    $("#exchange").click(function() {
        var submitData = {
            bind_sn_coupon: $.trim($("#coupon_sn").val())
        };
        if ($.trim($("#coupon_sn").val()) == "") {
            $("#coupon-tip").text("请输入优惠码");
            return false;
        }
        if (flag == 1) {
            flag = 2;
            $.post("/mobile.php?m=wap&act=payment&do=ajax_exchange_coupon&city_id=1&mark=66d5e0da-65b8-11e5-a990-5cb901892a54", submitData, function(data) {
                if (data.message.state == 1) {
                    $("#coupon-tip").text(data.message.msg);
                    setTimeout(function() {
                        window.location.href = "/mobile.php?m=wap&act=payment&do=coupon_list&city_id=1&mark=66d5e0da-65b8-11e5-a990-5cb901892a54";
                    }, 1000);
                } else {
                    flag = 1;
                    $("#coupon-tip").text(data.message.msg);
                }
            }, "json");
        }
    });

    $("#coupon-btn-style").click(function() {
        $("#cardExplain").show();
        $('#coupon_sn').val('');
    })

    $('#cancel').click(function() {
        $("#cardExplain").hide();
        $("#coupon-tip").text('');
        return false;
    });

    $("#coupon_sn").on('focus', function() {
        $("#coupon-tip").text("");
    });

    // 展开城市
    $(".open_fold").click(function(event) {
        $(this).parent().hide();
        $(this).parent().parent().find('.has_flod').show();
        event.stopPropagation();
    });

    // 显示提示信息
    function showTip(msg, url) {
        $('#show_mes').html(msg);
        if (url) {
            $('#tip-box').show();
            setTimeout(function() {
                if ('reload' == url) {
                    window.location.reload();
                } else {
                    window.location.href = url;
                }
            }, 2000);
        } else {
            $('#tip-box').show().delay(2000).hide(0);

        }

    }
</script>
<!--手机百度分享图标自定义、搜狗js动态引入-->
<script type="text/javascript">
    var userAgent = navigator.userAgent;
    if(userAgent.indexOf("baiduboxapp") != -1){
        customshare();
    }
    //手机百度分享图标自定义
    function customshare(){
        window.BoxShareData = {
            successcallback: "onSuccess",
            errorcallback: "onFail",
            options: {
                type: "url",
                content: "洗衣就用日新洗衣，幸福生活每一天",
                iconUrl: "http://apps3.bdimg.com/store/static/kvt/afdedad50e7414a224f7e530698f4d02.png",
                imageUrl: "http://apps3.bdimg.com/store/static/kvt/afdedad50e7414a224f7e530698f4d02.png",
                linkUrl: location.href,
                mediaType: "all",
                title: "日新洗衣"
            }
        }
    }
    //获取URL参数方法
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }
    //搜狗js动态引入
    if(getQueryString("mark")=="ae891810-4aef-11e5-ade6-f80f41fd4734") {
        document.write("<script sogouid=\"054\" src=\"http://fuwu.wap.sogou.com/static/partner.js\"><\/script>");
    }
</script>

<!--百度统计-->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?c69820aa19563b0688a6d8ea8d21f158";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

</body>

</html>