<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="format-detection" content="telephone=no">
    <title>日新洗衣</title>

    <link href="/css/yujia/global.css?t=20170824_1" rel="stylesheet" type="text/css" />
    <link href="/css/yujia/layout.css" rel="stylesheet" type="text/css" />
    <link href="/assets/weiui/weui.css" rel="stylesheet" />

    <link href="/css/yujia/master.css?20171212" rel="stylesheet" type="text/css" />

</head>
<body class="wheet">
<div class="mcontainer">

    <div class="head containered">
        <a class="one l GoBack" href="javascript:self.location=document.referrer" style="">
            <span class="icon_back"></span>
        </a>
        <div class="two l fc">
            <p class="Sub fc text-ellipsis">日新用户协议</p>
        </div>
        <div class="third l fr naved" >
            <div class="nav_out"></div>                </div>
    </div>
    <div class="headheight"></div>
    <div style="display: none;" class="weui_toptips weui_warn js_tooltips"></div>


    #parse("/common/share.vm")

    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>日新用户协议</title>
        <style>
            *{margin:0;padding:0;}
            .c-333{color:#333;}
            .c-777{color:#777;}
            .fs-10{font-size:10px;}
            .fs-12{font-size:12px;}
            .fs-14{font-size:14px;}
            .fs-16{font-size:16px;}
            .mainContent{padding:10px 10px;}
            .mainContent p{font-size:12px;color:#777; line-height:20px;text-indent:2em;}
            .mainContent h1{color:#333;font-size:16px;text-align:center;line-height:30px;}
            .mainContent h2{color:#333;font-size:14px; line-height:25px;}
            .buttonmessage {
                text-align:center;}
        </style>
    </head>

    <body>
    <div class="mainContent">
        <h1>日新用户协议</h1>
        <p>日新洗衣平台提醒您：</p>
        <p>您在使用日新洗衣平台各项服务前，请务必仔细阅读并理解本协议内容。如果您使用日新洗衣平台服务的，您的使用行为将被视为对本协议全部内容的认可。</p>
        <p>您在用户登陆页面勾选“同意日新洗衣平台用户协议”选项后，即视为您已阅读、理解并同意本协议的全部内容，本协议即在您与日新洗衣平台之间产生法律效力，成为对双方均具有约束力的法律文件。</p>
##        <h2>一、用户使用</h2>
##        <p>1、 用户应当为具有完全民事行为能力的自然人，或者是具有独立承担法律责任能力的其他合法主体。若用户属于无民事行为能力、限制民事行为能力人的，或是不具有独立承担法律责任能力的其他主体的，您应在监护人监护下进行交易或是得到有权主体授权后进行交易。</p>
##        <p>2、 用户使用日新洗衣平台提供的网络平台服务，必须：</p>
##        <p>a) 自行配备上网的所需设备，包括个人电脑、调制解调器或其他必备上网装置；</p>
##        <p>b) 自行负担个人上网所支付的与此服务有关的电话费用、网络费用。</p>
##        <p>用户在使用日新洗衣平台服务前，应检查其软硬件设备，保证其处于安全使用状态。</p>
##        <p>3、 用户勾选“同意日新洗衣平台用户协议”后，将视为用户同意本协议的所有条款，且具有浏览日新洗衣平台相关信息、提交订单、发表评价等使用日新洗衣平台服务的相应权利能力和行为能力，并可以对自己的行为承担法律责任。</p>
##        <h2>二、用户注册</h2>
##        <p>用户注册成功后，应妥善保管其日新洗衣平台账户及密码，应定期或不定期修改密码，在每次使用完毕后使其处于“退出”状态，以保证账户安全。用户不得将日新洗衣平台账户出借、转让或用作其他非法用途，否则因账户未妥善保管而造成损失的，用户应承 担相应法律责任，除非有证据证明该行为与用户无关。若用户因日新洗衣平台账户被盗或因其他非用户原因造成损失的，用户应立即通知日新洗衣平台并向公安机关报案。</p>
##        <h2>三、注册信息</h2>
##        <p>1、 日新洗衣平台仅在用户注册、提交订单或使用日新洗衣手机客户端时，基于用户账户安全、发放日新洗衣平台代金券、定位或配送用户订购、查询的商品或服务等需要，收集用户的手机号、电子邮箱、收货地址、当前位置等必要的个人信息，除此之外，日新洗衣平台不会收集任何用户信息。用户同意日新洗衣平台基于上述目的及范围收集信息。</p>
##        <p>2、 日新洗衣平台对收集的用户信息中涉及识别用户个人身份和用户个人隐私的信息进行保护，承诺在未获得用户许可的情况下，不会将用户的上述信息对外公开或提供给任何第三方，但以下情况除外：</p>
##        <p>a) 用户同意让第三方共享资料；</p>
##        <p>b) 用户同意公开其个人资料，享受为其提供的产品和服务；</p>
##        <p>c) 需要听从法庭传票、法律命令或遵循法律程序；</p>
##        <p>d) 为了商品配送或其他为用户利益需要而向交易以外第三方提供的，例如物流配送商、用户同意的商品或服务提供商等。</p>
##        <p>3、 基于保护用户个人隐私的需要，日新洗衣平台制定了单独的隐私声明（详见日新洗衣平台隐私声明），日新洗衣平台将按照公示的隐私声明对用户隐私信息进行保护。</p>
##        <h2>四、平台须知</h2>
##        <p>1、 日新洗衣平台：指厦门市日新电子商务有限公司运营的日新洗衣网络交易服务平台（以下简称“日新洗衣”）。日新洗衣服务指日新洗衣平台基于互联网及移动网向用户提供的相关服务。日新洗衣平台包括基于互联网的网站（域名：www.jiahome.com，www.xiaoyujia.com）及基于移动网的相关应用、服务等。</p>
##        <p>2、 预约服务： 指商户通过日新洗衣平台发布家政服务信息，用户通过日新洗衣平台台预订，预约成功并签订合同的家政服务行为。</p>
##        <p>3、 服务信息： 指商户通过日新洗衣平台发布的家政服务信息，包含家政服务的价格、介绍、服务说明等。</p>
##        <p>4、 用户： 指完成日新洗衣平台注册程序，获得可以登陆日新洗衣平台会员系统权限的正式注册会员。</p>
##        <p>5、 商户： 指通过日新洗衣平台发布信息，向用户提供家政服务的自然人、法人或其他组织。</p>
##        <h2>五、平台使用规范</h2>
##        <p>1、 用户可根据本协议及日新洗衣平台公布的相关使用规则，查阅在日新洗衣平台上发布的家政服务人员信息，通过日新洗衣平台订购具体家政产品，发布服务评价信息，邀请关注好友，参加日新洗衣平台组织的有关活动（如有），及日新洗衣平台现有及将来可能提供的其他服务。</p>
##        <p>2、 用户在使用日新洗衣平台提供的上述服务时，应遵守本协议及日新洗衣平台的相关使用规则，遵守自愿、平等、公平及诚实信用原则，不利用日新洗衣平台侵犯他人合法权益及谋取不正当利益，不扰乱网上交易的正常秩序。</p>
##        <p>3、 用户可以在日新洗衣平台发布对商品或服务的购买体验、评价等信息，并可对其进行适当的修改、删除，但不得在日新洗衣平台发布包含以下内容的言论；</p>
##        <p>a) 反对宪法所确定的基本原则，煽动、抗拒、破坏宪法和法律、行政法规实施的；</p>
##        <p>b) 煽动颠覆国家政权，推翻社会主义制度，煽动、分裂国家，破坏国家统一的；</p>
##        <p>c) 损害国家荣誉和利益的；</p>
##        <p>d) 煽动民族仇恨、民族歧视，破坏民族团结的；</p>
##        <p>e) 任何包含对种族、性别、宗教、地域内容等歧视的；</p>
##        <p>f) 捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</p>
##        <p>g) 宣扬封建迷信、邪教、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；</p>
##        <p>h) 公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；</p>
##        <p>i) 损害国家机关信誉的；</p>
##        <p>j) 其他违反宪法和法律行政法规的。</p>
##        <p>用户在日新洗衣平台发布的信息，均代表用户的观点，与日新洗衣平台无关，用户须对其言论独立承担完全的法律责任。</p>
##        <p>4、 用户在使用日新洗衣平台提供的服务时，不得有下列行为：</p>
##        <p>a) 利用日新洗衣平台从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；</p>
##        <p>b) 将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、发布、发送电子邮件或以其他方式传送；</p>
##        <p>c) 干扰日新洗衣平台正常运行，非法入侵家好网服务器、篡改日新洗衣平台代码或其他损害日新洗衣平台系统的行为；</p>
##        <p>d) 企图规避日新洗衣平台的安全设置或网络系统，包括获取用户不应获取的数据，登录未经明确授权的服务器或账户，或采用运行端口扫描等方式窥探其他网络的安全措施；</p>
##        <p>e) 以导致日新洗衣平台的计算机系统或设施承受不合理负载的方式获取日新洗衣平台提供的服务或网站信息，或进行可能导致此类情况出现的行为；</p>
##        <p>f) 实施任何形式的网络监控，从而截取与自身无关的信息；</p>
##        <p>g) 利用日新洗衣平台从事与网上购物无关或不是以购物为目的的活动，试图扰乱正常购物秩序，谋取不正当利益的行为；</p>
##        <p>h) 注册多个账户，通过自我邀请、相互邀请或利用多个手机或邮箱注册等不正当手段获取返利、代金券或任何经济利益；</p>
##        <p>i) 大量购买商品或服务后又大量退货或囤积牟利，损害商户或日新洗衣平台利益的行为；</p>
##        <p>j) 其他损害他人或日新洗衣平台合法权益的行为。</p>
##        <p>5、 一经发现用户提供虚假信息或有上述禁止的言论或行为的，日新洗衣平台有权采取暂停提供服务、删除违法违规信息、限制用户购买、禁止用户发言、锁定用户账户等处理措施。若因用户的上述言论或行为给他人或日新洗衣平台造成损失的，用户还应承担赔偿责任。</p>
##        <p>6、 若国家相关机关向日新洗衣平台发出命令、指示、裁决等法律文书或第三人向日新洗衣平台投诉并提供相关证据材料，要求冻结、关闭用户账号及交易的，日新洗衣平台有权对相关账号及交易进行冻结或取消，同时对违反本协议及日新洗衣平台相关服务规则的用户，日新洗衣平台有权封停其账号。日新洗衣平台采取上述措施的，将通过用户注册时提交的联系信息通知用户。</p>
##        <p>7、 用户应遵守本协议及日新洗衣平台公示的各项服务规则的内容，若因用户违反本协议及服务规则造成损失的，用户应予以赔偿。</p>
##        <h2>六、服务条款的修改</h2>
##        <p>日新洗衣平台有权不定期的制定、修改本协议及/或相关服务规则，一旦条款及服务内容、规则产生变动，日新洗衣平台将会以网站公告的方式进行公示。日新洗衣平台有权不定期的制定、修改本协议及/或相关服务规则，一旦条款及服务内容、规则产生变动，日新洗衣平台将会以网站公告的方式进行公示。</p>
##        <h2>七、服务的中断和终止</h2>
##        <p>1、 日新洗衣平台会尽全力维护平台的正常运行，以向用户提供持续、稳定、安全、顺畅的服务。但用户理解并同意：日新洗衣平台对服务页面进行改版、升级网站系统、增加服务功能等须中断服务的操作时，有权暂时中断服务。日新洗衣平台将尽可能在实施以上行为时予以提前公告，并尽可能将影响降低到最小。</p>
##        <p>2、 用户可自行停止使用日新洗衣平台提供的服务，并可向日新洗衣平台提交申请，要求封停或注销其账户。用户账户被封停或注销后，用户将不能使用日新洗衣平台除浏览页面外的所有服务，但日新洗衣平台仍有权保留用户的所有注册信息及过往交易记录，对用户在日新洗衣平台从事违法行为或违反本协议及相关规定的行为，日新洗衣平台仍有权行使本协议规定的权利并追究用户的法律责任。</p>
##        <p>3、 日新洗衣平台可在下列情况下，自行停止向用户提供服务，并封停或注销其账户，若因用户行为给日新洗衣平台造成损失的，用户还应负责赔偿：</p>
##        <p>a) 用户违反本协议相关规定的，不论用户是否直接、间接或者通过他人再次注册成为日新洗衣平台用户，日新洗衣平台均有权停止向其提供服务；</p>
##        <p>b) 每个用户仅可在日新洗衣平台注册一个账户，若用户注册多个账户或使用关联账户购买本站有购买限制的产品或谋取不正当利益的，日新洗衣平台有权取消交易并停止向该用户提供服务，用户因此获取的利益须退还；</p>
##        <p>c) 用户使用虚假信息注册的，包括但不限于使用虚假姓名、虚假地址、虚假手机号、虚假电子邮箱等，日新洗衣平台均有权立即停止向其提供服务；</p>
##        <p>d) 本协议终止或更新时，用户明示不同意接受新协议的；</p>
##        <p>e) 其他违反日新洗衣平台相关规定或致使日新洗衣平台或他人遭受利益损害的行为。</p>
##        <h2>八、责任范围和责任规范</h2>
##        <p>1、 不论在任何情况下，日新洗衣平台均不对由于互联网正常的设备维护，互联网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，暴乱，骚乱，灾难性天气（如火灾、洪水、风暴等），爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能履行或延迟履行承担责任。</p>
##        <p>2、 如因上述不可抗力或其他日新洗衣平台无法控制的原因使日新洗衣平台的销售系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，日新洗衣平台不承担责任。但是日新洗衣平台会尽可能合理地协助处理善后事宜，并努力使客户免受经济损失。</p>
##        <p>3、 基于互联网的特殊性，日新洗衣平台显示的信息可能有一定的滞后性或差错，对此情形用户知悉并理解；您须自行辨别真伪，谨慎预防风险。</p>
##        <h2>九、日新洗衣平台知识产权声明</h2>
##        <p>1、 用户同意，用户在日新洗衣平台发表的产品使用体验、产品讨论或图片等所有信息（以下简称“信息”），除署名权、发表权、修改权外的其他知识产权权利（包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利），均独家排他无偿许可给日新洗衣平台，并同意日新洗衣平台以自己名义就所述权利的保护采取任何形式的法律行为，并获得全部赔偿。 本协议已经构成《著作权法》第二十五条所规定的书面协议，其效力及于用户在日新洗衣平台发布的任何受著作权法保护的作品内容，无论该内容形成于本协议签订前还是本协议签订后。</p>
##        <p>2、 日新洗衣平台及日新洗衣平台许可的关联方有权将用户在日新洗衣平台平台发表的产品使用体验、产品讨论或图片进行使用或者与其他人合作使用，使用范围包括但不限于网站、电子杂志、杂志、刊物等。</p>
##        <h2>十、 通知和公告</h2>
##        <p>1、 日新洗衣平台向用户发送的所有通告，将通过页面公告或电子邮件的方式传送。日新洗衣平台的活动信息也将定期通过页面公告及电子邮件方式向用户发送。用户协议条款的修改、服务变更、或其它重要事件的通告都会以此形式进行。</p>
##        <p>2、 用户可以选择接受或不接受日新洗衣平台通过邮件和短信的形式向其发送订单信息、促销活动等信息。用户选择接受的，可以随时通知日新洗衣平台取消发送。</p>
##        <h2>十一、法律管辖和适用与其他</h2>
##        <p>1、 本协议的订立、执行和解释及争议的解决均应适用中华人民共和国大陆地区法律。</p>
##        <p>2、 如发生本协议条款与上述法律相抵触时，则这些条款将完全按法律规定重新解释，而其它合法条款则依旧保持对用户产生法律效力和影响。</p>
##        <p>3、 本协议的规定是可分割的，如本协议任何规定被裁定为无效或不可执行，该规定可被删除而其余条款应予以执行。</p>
##        <p>4、 如双方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向日新洗衣平台所在地人民法院提起诉讼。</p>
##        <p>5、 本协议除以上正文部分外，还包括日新洗衣平台发布的各项服务规则，各项服务规则与本协议具有同等法律效力；服务规则包括但不限《家政服务交易服务规则》等；</p>
##        <h1 class="buttonmessage">家政服务交易规则</h1>
##        <p>一、家政服务信息</p>
##        <p>1、 商户按照与日新洗衣平台签署的合同的约定，在日新洗衣平台发布家政服务的服务信息。</p>
##        <p>2、 商户发布家政人员的服务信息时，应按照日新洗衣平台要求明示服务价格、预订限制、消费提示、服务介绍等必要信息，并对信息的真实性、合法性和有效性负责。</p>
##        <p>二、服务交易</p>
##        <p>1、 用户选择购买日新洗衣平台展示的服务前，应仔细阅读服务信息展示页面的所有信息，了解服务的种类、价格、限制、消费提示等相关信息。</p>
##        <p>2、 用户点击“立即预约”按钮后系统会自动生成包含服务名称、服务次数、应付总额、服务地址（如有）等信息的订单，用户应仔细核对，视为用户已阅读并同意服务页面的所有内容并认可订单内容，订单内容及服务页面信息视为用户与商户之间的合同。</p>
##        <p>3、 用户提交订单成功后，通过第三方支付工具或网银支付给日新洗衣平台的款项，为日新洗衣平台接受商户委托代收的款项，用户付款则视为用户已向商户履行了付款义务。日新洗衣平台收到款项后，日新洗衣平台系统会自动向商户发送用户预订信息，商户在规定时间内安排服务，用户会收到日新洗衣平台发送的服务预订成功短信通知。</p>
##        <p>4、 用户持收到的短信，按照使用规则要求商户履行合同义务时，商户应按照日新洗衣平台券使用规则，在向用户提供约定的服务并向用户开具发票（中介费）。</p>
##        <p>5、 用户使用代金券购买商家的服务时，应遵守日新洗衣平台券使用规则；用户持有日新洗衣平台券时，应遵守日新洗衣平台券使用规则。</p>
##        <p>三、售后保障</p>
##        <p>1.退</p>
##        <p>仅限保障在线订单金额部分；</p>
##        <p>当阿姨或门店爽约，没有按和用户约定日期上门服务，用户获得全额（所有对该订单金额）退款；</p>
##        <p>当用户反应阿姨服务有明显磨洋工的现象，并能提供相应照片证据，将获得半价（所有对该订单金额）退款；</p>
##        <p>当门店或阿姨多次收取雇主费用，或收取不合理费用时，经过客服核实确实，将获得多收取费用的全额退款；</p>
##        <p>2 . 赔</p>
##        <p>仅限保障在线订单金额部分；</p>
##        <p>当阿姨或门店爽约，没有按和用户约定日期上门服务，除了享受全额（所有对该订单金额）退款外，还可享受到等额赔付。</p>
##        <p>阿姨在服务用户过程中，由于阿姨过错，造成雇主财产损失。赔付标准以保险公司理赔为依据。</p>
##        <p>3. 因履行服务交易合同而发生争议的，用户和商户应按照家政服务交易合同的约定履行各自的权利和义务，独立承担相应的法律责任。若用户和商户要求日新洗衣平台予以协调和解决的，应拨打日新洗衣平台客服电话，并向日新洗衣平台提交支持其主张的相应证据材料，以便日新洗衣平台予以核实，日新洗衣平台核实相关情况后对双方的争议予以协调，但日新洗衣平台并不为此承担任何责任。若双方对日新洗衣平台的协调结果不满意的，可自行采取其他法律措施予以解决。</p>

    </div>
    </body>
    </html>

    #parse("/common/menu.vm")

</div>
<script src="/bundles/jquery?v=QRLKVG_Xx6dQNG8i26GuXfNZzCriV9JX2xBS8PhczpE1"></script>

<script src="/js/yujia/font-size.js" type="text/javascript"></script>
<script src="/assets/weiui/weui.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/yujia/comm.js?t=v1.0"></script>
<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<div style="display:none">
    <script src="https://s95.cnzz.com/z_stat.php?id=1260785617&web_id=1260785617" language="JavaScript"></script>

    <script>
        var _mtac = {};
        (function() {
            var mta = document.createElement("script");
            mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
            mta.setAttribute("name", "MTAH5");
            mta.setAttribute("sid", "500665928");
            mta.setAttribute("cid", "500665929");
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(mta, s);
        })();
    </script>

</div>
</body>
</html>
<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>

    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }
    $.cookie("PayMethod", "", { expires: -1 });
    if (GetQueryString('PayMethod') != null) {
        $.cookie('PayMethod', GetQueryString('PayMethod'));
    }
</script>