<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="format-detection" content="telephone=no">
    <title>日新洗衣</title>

    <link href="/css/yujia/global.css?t=20170824_1" rel="stylesheet" type="text/css" />
    <link href="/css/yujia/layout.css" rel="stylesheet" type="text/css" />
    <link href="/assets/weiui/weui.css" rel="stylesheet" />

    <link href="/css/yujia/master.css?20171212" rel="stylesheet" type="text/css" />

</head>
<body class="wheet">
<div class="mcontainer">

    <div class="head containered">
        <a class="one l GoBack" href="javascript:self.location=document.referrer" style="">
            <span class="icon_back"></span>
        </a>
        <div class="two l fc">
            <p class="Sub fc text-ellipsis">使用帮助</p>
        </div>
        <div class="third l fr naved" >
            <div class="nav_out"></div>                </div>
    </div>
    <div class="headheight"></div>
    <div style="display: none;" class="weui_toptips weui_warn js_tooltips"></div>


    #parse("/common/share.vm")

    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>使用帮助</title>
        <style>
            *{margin:0;padding:0;}
            .c-333{color:#333;}
            .c-777{color:#777;}
            .fs-10{font-size:10px;}
            .fs-12{font-size:12px;}
            .fs-14{font-size:14px;}
            .fs-16{font-size:16px;}
            .mainContent{padding:10px 10px;}
            .mainContent p{font-size:12px;color:#777; line-height:20px;}
            .mainContent h1{color:#333;font-size:14px;line-height:30px;}
            .mainContent table{ margin:10px auto;}
            .mainContent table tr th,table tr td{font-size:12px;color:#777;line-height:20px;padding:0 5px;box-sizing:border-box;}
            .tit{color:#333;font-size:16px;text-align:center;line-height:30px;  font-weight:bold;}
        </style>
    </head>

    <body>
    <div class="tit">使用帮助</div>
    <div class="mainContent">
        <h1>1 用户安全</h1>
        <p>用户注册成功后，应妥善保管其日新洗衣平台账户及密码，应定期或不定期修改密码，在每次使用完毕后使其处于“退出”状态，以保证账户安全。</p>

    #*<h1>2 服务相关</h1>
    <p>订单服务开始前2小时内至服务开始后1小时要求更改服务时间、更换服务产品或取消订单的，请及时拨打服务热线5178888联系客服，若您对服务有任何意见，请在服务订单结束后24小时内拨打服务热线5178888联系客服，逾期概不受理。</p>

    <h1>3 客服没有联系我怎么办？</h1>
    <p>若客服没有按时联系您，请拨打日新洗衣平台客服热线5178888进行反馈及投诉。</p>

    <h1>4 服务人员没有到怎么办？</h1>
    <p>您下单成功且客服与您联系之后，您会收到一则由日新洗衣平台发出的服务人员的短信。若为您服务的工作人员没有按时到您的住处，您可以先与服务人员取得联系，或直接拨打日新客服电话。</p>

    <h1>5 如何获得代金券？</h1>
    <p>代金券由日新洗衣平台系统自动发放，一般为新人注册赠送、活动赠送、点评服务赠送等方式，请关注“日新洗衣”微信，及时关注日新洗衣平台活动动态。</p>

    <h1>6 退款后代金券会退给我吗？</h1>
    <p>您的订单中有使用代金券支付，遇到取消订单、退款等情况时，代金券不返还。</p>


    <h1>7 订单状态是什么意思？</h1>
    <p>您在日新洗衣平台预约服务的订单，从下单到订单完成会经历各种状态，我们会将各种状态显示在订单详情页面，以此让您更好的了解订单情况，及时跟踪订单状态顺利完成服务。以下是订单状态的简单说明：</p>
    <table border cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <th width="20%">状态</th>
            <th width="80%">订单状态解释</th>
        </tr>
        <tr>
            <td align="center">已接单</td>
            <td>您的订单已经成功预约,等待日新洗衣平台客服与您电话联系</td>
        </tr>
        <tr>
            <td align="center">已派单</td>
            <td>服务人员已经出发前往您的服务地址，请您等待服务人员上门为您服务</td>
        </tr>
        <tr>
            <td align="center">执行中</td>
            <td>服务人员已经出发前往您的服务地址，请您等待服务人员上门为您服务</td>
        </tr>
        <tr>
            <td align="center">开始服务</td>
            <td>服务人员已经开始服务</td>
        </tr>
        <tr>
            <td align="center">服务结束</td>
            <td>我们的服务已经结束，您可以确认及点评此次服务</td>
        </tr>

    </table>*#
    </div>
    </body>
    </html>

    #parse("/common/menu.vm")
</div>
<script src="/bundles/jquery?v=QRLKVG_Xx6dQNG8i26GuXfNZzCriV9JX2xBS8PhczpE1"></script>

<script src="/js/yujia/font-size.js" type="text/javascript"></script>
<script src="/assets/weiui/weui.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/yujia/comm.js?t=v1.0"></script>
<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<div style="display:none">
    <script src="https://s95.cnzz.com/z_stat.php?id=1260785617&web_id=1260785617" language="JavaScript"></script>

    <script>
        var _mtac = {};
        (function() {
            var mta = document.createElement("script");
            mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
            mta.setAttribute("name", "MTAH5");
            mta.setAttribute("sid", "500665928");
            mta.setAttribute("cid", "500665929");
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(mta, s);
        })();
    </script>

</div>
</body>
</html>
<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>

    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }
    $.cookie("PayMethod", "", { expires: -1 });
    if (GetQueryString('PayMethod') != null) {
        $.cookie('PayMethod', GetQueryString('PayMethod'));
    }
</script>