
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta content="" name="pgv">
    <title>在线充值</title>

    <script src="/js/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="/js/edaixi/template.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/edaixi/newbase.css">
    <link rel="stylesheet" type="text/css" href="/css/edaixi/recharge.css">
</head>
<body>
<div class="channel-nav">
    <ul>
        <li class="active">在线充值</li>
##        <li class="normal_tab"><a href="javascript:void(0)" onclick="rechargeCard();">充值卡充值</a></li>
    </ul>
</div>
<form id="recharge_form" action="" method = "POST">
    <div class="white-bg yue_block">
        <span>余额</span><span id="rechatgeblock" class="money">￥0.00</span>
    </div>

    <!-- start 为他人充值 -->
##    <div class="white-bg p10 mobile-other">
##        <input type="tel" value="" name="mobile" class="px" placeholder="请输入对方手机号" id="other-recharge" maxlength="11" autocomplete="off" oninput="value=value.replace(/[^\d.]/g, '');">
##    </div>
    <!-- end 为他人充值 -->

    <div class="borderD"></div>
##    <div class="p10"></div>
##    <div class="p5"></div>
    <div class="borderD"></div>

    <!-- 微众充值活动 -->
##    <div class="" id="webank_recharge">
##
##    </div>

    <!-- 特殊充值 -->
    <div class="recharge-info" id="special_recharge">

    </div>

    <!-- 正常充值 -->
    <div class="" id="normal_recharge">

    </div>

    <div class="p5"></div>
    <div class="clear"></div>

    <div class="p10">
        <div>
            <input type="hidden" value="" name="fee_2" id="selected-sum">
            <input type="hidden" value="" name="fee_3" id="selected-sum2">
            <input class="charge_money input_sum" type="tel" name="fee" id="sum-input" placeholder="手动输入充值金额" maxlength="8" autocomplete="off" oninput="value=value.replace(/[^\d.]/g, '');" >
        </div>
        <input type="hidden" name="recharge_discount" value="" id="recharge_discount" />
        <input type="hidden" name="recharge_callback" value="" id="recharge_callback"/>
        <button id="recharge_btn" class="chongzhi-btn" href="javascript:void(0)">立即充值</button>
    </div>
</form>
<div class="p5"></div>

##<p class="other-people"><img src="/imgs/edaixi/chongzhi_icon_heart.png" class="heart-img">
##    <a href="javascript:void(0)"  class="rechargeother">为他人充值</a>
##    <a href="javascript:void(0)"  class="rechargeother2" style="display:none">为他人充值历史</a>
##</p>

<div class="p5"></div>
<p class="other-people" id="isduihuan" style="display:none;"><img src="/imgs/edaixi/chongzhi_icon_heart2.png" class="heart-img hide-img">
    <a href="#" id="duihuanurl_2" class="rechargeother">兑换活动充值码</a>
</p>

<div class="p10"></div>
<!-- 提示浮层 start -->
<div id="rechargeCheck"></div>
<!-- 提示浮层 end -->

<!-- 检查充值手机 start -->
<div id="codFloat" style="display:none">
    <div class="wx_confirm_tit" id="show_mes"><!-- 提示信息 --></div>
</div>
<!-- 检查充值手机 end -->

<!-- 余额 -->
<script id="rechargebox" type="text/html">
    ￥{{user_icard_amount}}
</script>

<!-- webank充值活动 -->
<script id="recharge-webank" type="text/html">
    <div>
        <ul id="webank-list" class="webank-list">
            <li class="moneyspan_wz white-bg" >
                <span class="">
                  换季悠然洗
                  <p style="font-size: 12px;">20元红包限量抢</p>
                </span>
                <b></b>
            </li>
        </ul>
    </div>
    <div class="p10"></div>
    <div class="borderD"></div>
</script>

<!-- 特殊充值 -->
<script id="recharge-special" type="text/html">

    {{each special_recharge as s}}
    <div class="white-bg recharge-div" data-sum="{{s.min}}">
        <div class="leftblock">
            <span>充 </span>{{s.min}}元<span> 送 </span><b>{{s.display_money_give}}元</b>
        </div>

        <div class="borderL"></div>
        <div class="rightblock">
            {{s.description}}
        </div>
    </div>
    <div class="height-space2"></div>
    {{/each}}

</script>


<!-- 正常充值 -->
<script id="recharge-normal" type="text/html">
    <ul id="recharge-list" class="recharge-list">
        {{each normal_recharge as nl}}
        {{if normal_recharge.length == 1 || normal_recharge.length == 2 ||normal_recharge.length == 4 || normal_recharge.length == 7}}
        <li class="moneyspan2 white-bg" data-sum="{{nl.min}}">
                  <span class="">
                    {{nl.min}}元
                    <p class="givemoney">赠送：{{nl.display_money_give}}元</p>
                  </span>


        </li>
        {{else}}

        <li class="moneyspan white-bg" data-sum="{{nl.min}}">
                  <span class="">
                    {{nl.min}}元
                    <p class="givemoney">赠送：{{nl.display_money_give}}元</p>
                  </span>


        </li>
        {{/if}}
        {{/each}}

    </ul>
</script>

<script type="text/html" id="recharge-checkout-mobile">

    <div id="recharge-checkout-mobile2" style="display:none;" class="check-mobile">
        <div class="wx_mask"></div>
        <div class="wx_confirm2">

            <div class="wx_confirm_inner">
                <p style="color:#8a8a8a;padding: 1rem;font-size:1rem">{{tip}}</p>

                <div class="logout-btn">

                    <div class="borderT"></div>
                    {{if can_recharge == true}}
                    <div class="borderR2"></div>
                    <button type="button" class="okbtn close-btn" id="close-btn">取消</button>
                    <button type="button" class="blue-btn sure-btn" id="sure-btn2">确认</button>
                    {{else}}
                    <button type="button" class="blue-btn sure-btn" id="sure-btn">确认</button>
                    {{/if}}

                </div>
            </div>
        </div>

    </div>

</script>

<script type="text/javascript">
    // 获取url中参数
    function getSearchParams() {
        var params = {};
        var chunks = location.search.substr(1).split(/&/g);
        for (var i = 0; i < chunks.length; i++) {
            try {
                var items = chunks[i].split('=', 2);
                var key = items[0];
                var value = decodeURIComponent(items[1]);
                params[key] = value;
            }
            catch (ex) {
            }
        }
        return params;
    }
</script>

<script type="text/javascript">
    var urlC = "/new_weixin/view/recharge_cardno.html?state=2&state=3";
    var url = "/api.php?m=wap&act=icard&do=recharge_online_api";

    var param = getSearchParams();
    var recharge_discount = param.recharge_discount;
    var recharge_callback = param.recharge_callback;
    var city_id = param.city_id;
    var state = param.state;
    var courier_id = param.courier_id;


    var searchData = {};

    if (recharge_discount != undefined && recharge_discount != '') {
        searchData.recharge_discount = recharge_discount;
        urlC += '&recharge_discount='+encodeURIComponent(recharge_discount);

        // url += '&mark='+mark;
    };

    if (recharge_callback != undefined && recharge_callback != '') {
        searchData.recharge_callback = recharge_callback;
        urlC += '&recharge_callback='+encodeURIComponent(recharge_callback);

    };

    if (city_id != undefined && city_id != '') {
        searchData.city_id = city_id;
        urlC += '&city_id='+city_id;

    };

    if (state != undefined && state != '') {
        searchData.state = state;
        urlC += '&state='+state;

    };

    function rechargeCard(){
        location.href = urlC;
        // $(".normal_tab").attr("href",urlC);
    };


    $("#recharge_discount").val(recharge_discount);
    $("#recharge_callback").val(recharge_callback);


</script>


<script type="text/javascript">
/*

    $.ajax({
        url: url,
        // url: '../test/recharge_online.json',
        type: 'GET',
        data: searchData,
        dataType: 'json'
    })

            .done(function(data) {
                if (data.ret) {
                    console.log(data.data);
                    if(data.data.recommend_url){
                        $("#isduihuan").show();
                        $("#duihuanurl_2").attr("href",data.data.recommend_url);
                        $("#duihuanurl_2").text(data.data.recommend_name);
                    }

                    rechargeOnline (data);
                    // 选择金额
                    var $sumInput = $("#sum-input");

                    var $selectedSum = $("#selected-sum");
                    var $selectedSumM = $("#selected-sum");
                    var $selectedMo = $("#other-recharge");
                    var $sumSel = $("#recharge-list").find("li");
                    var $sumMon = $("#special_recharge").find(".recharge-div");
                    var $sumWebank = $("#webank-list").find("li");
                    var $mobileS = $("#other-recharge");

##                    $sumInput.keyup(function(){
##                if ($sumInput.val() == '') {
##                    $("#recharge_btn").prop('disabled', true);
##                }else {
##
##                    $("#recharge_btn").prop('disabled', false);
##                };
##
##                })
##
##                    // $mobileS.keyup(function(){
##                //     if ($mobileS.val() == '') {
##                //       $("#recharge_btn").prop('disabled', true);
##                //     }else {
##
##                //       $("#recharge_btn").prop('disabled', false);
##                //     };
##
##                // })
##
##                    // webank充值活动
##                    $sumWebank.click(function() {
##                var weUrl = '/mobile.php?m=wap&act=payment&do=webank_bridge';
##                if (courier_id != undefined && courier_id != '') {
##                weUrl += '&courier_id='+courier_id;
##                }
##                window.location.href = weUrl;
##                })
##
##                    // 在线充值特殊
##                    $sumMon.click(function() {
##                    $("#special_recharge .recharge-div").removeClass('tab-current2');
##                    $("#recharge-list li").removeClass('tab-current');
##                    $(this).addClass("tab-current2").siblings().removeClass("tab-current2");
##
##                // if (state == 1 || status == 1) {
##                //   $("#recharge_btn").prop('disabled', false)
##                // }
##
##                    $sumInput.val('').attr("placeholder", "输入其他金额");
##                var sum = $(this).data('sum');
##
##                // 选中金额放入隐藏域
##                    $selectedSumM.val(sum);
##                })
##
##
##
##
##                    // 在线充值正常
##                    $sumSel.click(function() {
##                // $('#recharge_btn').prop('disabled', false).removeClass("gray-btn");
##                    $("#special_recharge .recharge-div").removeClass('tab-current2');
##
##                // if (state == 1 || status == 1) {
##                //   $("#recharge_btn").prop('disabled', false);
##                // }
##
##                    $("#recharge-list li").removeClass('tab-current');
##                        $(this).addClass("tab-current").siblings().removeClass("tab-current");
##
##                        $sumInput.val('').attr("placeholder", "输入其他金额");
##                    var sum = $(this).data('sum');
##
##                    // 选中金额放入隐藏域
##                        $selectedSum.val(sum);
##                    });
##                        $sumSel.eq(0).click();
##
##                    // 输入金额
##                    $sumInput.on('focus', function() {
##                    $selectedSum.val('');
##                    $selectedSumM.val('');
##                    $("#recharge-list li").removeClass('tab-current');
##                    $("#special_recharge .recharge-div").removeClass('tab-current2');
##
##                    });

                    // 检查金额
                    function check_sum() {
                        var select_sum = + $.trim($selectedSum.val()); // 选择金额
                        var select_sumM = + $.trim($selectedSumM.val()); // 选择金额
                        var input_sum = + $.trim($sumInput.val());   // 输入金额
                        var input_mobile = + $.trim($mobileS.val());   // 输入金额


                        if (select_sum > 0 || input_sum > 0 || input_mobile > 0) {
                            return true;
                        }
                        if (!select_sum && !input_sum ) {
                            alert_1("请选择或输入正确充值金额");
                            return false;
                        }




                        var re = /^\d+\.{0,1}\d{0,2}$/;
                        if (!re.test(input_sum) || input_sum <= 0 || input_sum > 99999) {
                            alert_1("请输入合理金额(1~99999)");
                            return false;
                        }
                        return true;
                    }


                    // 提交金额
                    $("#recharge_btn").click(function(){
                        if(check_sum()){
                            $(this).prop("disabled", true);

                        }

                        // if (state == 3) {
                        //   if ($("#other-recharge").val() == '') {
                        //     $("#recharge_btn").prop("disabled", false);
                        //   }else{
                        //     $("#recharge_btn").prop("disabled", true);
                        //   }
                        // };

                        var mobile = $("#other-recharge").val();

                        //校验手机号码
                        var regTel = /^1[0-9]{10}$/;
                        var otherFlag = $(".mobile-other").css('display');
                        if (!regTel.test(mobile) && otherFlag=='block') {
                            alert_1('手机号码格式有误');
                            return ;
                        }

                        // alert(state)
                        if (state == 1 || state == undefined) {
                            $("#recharge_form").attr('action', '/mobile.php?m=wap&act=payment&do=recharge_pay&status=1&city_id=1&courier_id='+courier_id);
                            $("#recharge_form").submit();
                            return;
                        };

                        // 检查手机是否为新注册
                        $.ajax({
                            url: '/api.php?m=wap&act=icard&do=check_user_by_tel&mobile='+mobile,
                            // url: '../test/mobile.json',
                            type: 'GET',
                            dataType: 'json'

                        })
                                .done(function(data) {
                                    if (data.ret) {
                                        rechargeMobile2(data);

                                        if (data.data.can_recharge == true && (data.data.tip == "" || data.data.tip == null)) {

                                            $("#recharge-checkout-mobile2").hide();
                                            $("#recharge_btn").prop("disabled", false);

                                            $("#recharge_form").submit();
                                        }else{
                                            $("#recharge-checkout-mobile2").show();

                                            $("#close-btn").click(function(event) {

                                                $("#recharge-checkout-mobile2").hide();


                                                event.stopPropagation();
                                            });

                                            $("#sure-btn2").click(function(event) {
                                                $("#recharge-checkout-mobile2").hide();

                                                $("#recharge_form").submit();

                                                $("#recharge_btn").prop("disabled", false);
                                                event.stopPropagation();
                                            });

                                            // 确认为自己手机号
                                            $("#sure-btn").click(function(event) {

                                                $("#other-recharge").val('')
                                                $("#recharge-checkout-mobile2").hide();

                                                $("#recharge_btn").prop("disabled", true);
                                                event.stopPropagation();

                                            });
                                        };
                                    }

                                })

                                .fail(function() {
                                    alert("网络繁忙，请稍后再试")
                                })

                        function rechargeMobile2(data) {
                            var rechargePhone = data.data;

                            var rechargeMobile = template('recharge-checkout-mobile',rechargePhone);

                            document.getElementById('rechargeCheck').innerHTML = rechargeMobile;

                        }


                    });

                    // 弹窗提示
                    function alert_1(title) {
                        if(title){
                            $("#show_mes").html(title);
                        }
                        $("#codFloat").show().delay(2000).hide(0);
                    }

                    function alertToUrl(title, url) {
                        if (title == '') {
                            location.href = url +"&recharge_discount=" + recharge_discount + "&recharge_callback=" + recharge_callback + "&city_id=" + city_id+ "&state=" + state;
                        } else {
                            alert_1(title);
                            location.href = url +"&recharge_discount=" + recharge_discount + "&recharge_callback=" + recharge_callback + "&city_id=" + city_id+ "&state=" + state;
                        }
                    }


                }else{
                    // location.href = data.error.url;
                };

            })

            .fail(function() {
                alert("网络错误，请稍后再试")
            })

    // 模板取数据
    function rechargeOnline (data) {
        var rechargeOnline = data.data;
        var onlinerehcarge = data.data.recharge_list;
        console.log(onlinerehcarge);

        var rechargeMoney = template('rechargebox',rechargeOnline);
        var rechargeNormal = template('recharge-normal',onlinerehcarge);
        var rechargeSpecial = template('recharge-special',onlinerehcarge);
        var rechargeWebank = template('recharge-webank',onlinerehcarge);

        document.getElementById('rechatgeblock').innerHTML = rechargeMoney;
        document.getElementById('normal_recharge').innerHTML = rechargeNormal;
        document.getElementById('special_recharge').innerHTML = rechargeSpecial;
        document.getElementById('webank_recharge').innerHTML = rechargeWebank;
    }


*/

</script>

<script type="text/javascript">
    // 为他人充值输入框

    // var input_mobile = + $.trim($otherRecharge.val());   // 输入手机号
    /*var $rechargeother2 = $(".rechargeother2");
    var $rechargeother = $(".rechargeother");
    var $mobileKey = $("#other-recharge");

    $(".rechargeother").click(function() {
        location.href = location.href + "&state=3"
        $(".yue_block").hide();
        $(".mobile-other").show();
        // $(this).text("为他人充值历史");
        $(this).hide();
            $rechargeother2.show();
            $rechargeother2.attr("href",'/new_weixin/view/recharge_history.html');

    });



    if (state == 3) {
        $(".yue_block").hide();
        $(".mobile-other").show();
            $rechargeother.hide();
        $(".hide-img").hide();
            $rechargeother2.show();
            $rechargeother2.attr("href",'/new_weixin/view/recharge_history.html');

    }else{
        $(".mobile-other").hide();
    };
    if (state == 3) {
        if ( $mobileKey.val() == '') {
            $("#recharge_btn").prop('disabled', true)
        }else {
            $("#recharge_btn").prop('disabled', false)
        };

##        $mobileKey.keyup(function(){
##    if ($mobileKey.val() == '') {
##        $("#recharge_btn").prop('disabled', true);
##    }else {
##
##        $("#recharge_btn").prop('disabled', false);
##    };
##
##    })
    }


*/
</script>
<script src="/new_weixin/js/foot.js" type="text/javascript"></script>
</body>

</html>
